/* ==========================================================================
   body
   ========================================================================== */

body {
	position: relative;
	min-width: 960px;
	height: 100%;
    background-color: #000;
    color: #fff;
	font-size: 14px;
	line-height: 1.42857;
    font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}
#opusOffBlack{
	position: fixed;
	right:0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 998;
}
video{
    position: fixed; 
    right: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

/* ==========================================================================
   base
   ========================================================================== */

html, 
body { height: 100%; }


/* global
   ========================================================================== */
   
/* links */
a {
	color: #0088cc; 
	text-decoration: none;
	transition: all 0.3s ease;
}
a:hover { color: #005580;}
a:focus { outline: none;}

/* headlines */
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #000; 
	font-weight: normal; 
	line-height: 1; 
	margin: 0;
}

/* text */
p { margin-top: 0;}

/* breaks */
hr { height: 0; border: 0; border-top: 1px solid #ccc;}

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


/* ==========================================================================
   container
   ========================================================================== */

.container {
	position: relative;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}
.container:before, .container:after { display: table; content: "";}
.container:after { clear: both;}

/* row */
.row { margin-left: -20px;}
.row:before, .row:after { display: table; content: "";}
.row:after { clear: both;}

/* clear */
.clear:before, .clear:after { display: table; content: "";}
.clear:after { clear: both;}

/* ==========================================================================
   content-wrapper
   ========================================================================== */

.wrapper {
	position: relative;
	height: auto; 
	min-height: 100%;
	background-color: #333333;
}

/* LOGO */
.logo {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -250px;
	width: 500px;
	height: 100px;
	background-image: url(../images/logo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;	
}

/* DATE + CLOCK */
.date-time {
	position: absolute;
	top: 25px;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	text-align: center;
	
	transition: 1s all ease;
}
.date-time .date {
	line-height: 50px;
	font-size: 24px;
	font-weight: lighter;
}
.date-time .time {
	position: relative;
	font-size: 24px;
	font-weight: lighter;	
}
.date-time .time .second {
	position: absolute;
	top: 10px;
	right: 70px;
	font-size: 24px;	
}


/* ==========================================================================
   Main-menu
   ========================================================================== */

.navigation {
	width: 100%;
	position: absolute;
	bottom: -100px;
	left: 0;
	opacity: 0;
	transition: 1s ease all;
}
.navigation.active {
	bottom: 25px;
	opacity: 1;
}

.navigation .slider {
	width: 100%;
	position: relative;
}
.navigation .caroufredsel_wrapper { overflow: visible !important; }
.navigation .slider .slides {
	margin: 0;
	padding: 0;
	list-style: none;	
}
.navigation .slider .slides > li {
	position: relative;
	width: 100px;
	height: 100px;
	float: left;
	
	line-height: 100px;
	font-size: 48px;
	color: #fff;
	text-align: center;
	
	border-radius: 5px;
	transition: background 1s ease;
}
.navigation .slider .slides > li.active {
	color: #000;
	background-color: #fff;
}

/* ==========================================================================
   Apps
   ========================================================================== */
   
.apps-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 500px;
	height: 100%;
}

.app-holder {
	position: absolute;
	top: 50px;
	right: -500px;
	width: 500px;
	transition: 1s all ease;	
}
.app-holder.active { right: 0; }
.weather-app .avatar {
	width: 350px;
	height: 350px;
	padding: 60px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #fdc800;	
}
.weather-app .avatar .info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.weather-app .avatar .info .temp {
	font-size: 125px;
	font-weight: bold;
	text-align: center;
	line-height: 125px
}
.weather-app .avatar .info .extra {
	width: 150px;
	margin: 0 auto;	
	border-top: 1px solid #fff;
}
.weather-app .avatar .info .extra .min {
	float: left;
	width: 50%;
	font-size: 36px;
	font-weight: bold;
	text-align: left;	
}
.weather-app .avatar .info .extra .max {
	float: left;
	width: 50%;
	font-size: 36px;
	font-weight: bold;
	text-align: right;	
}
.weather-app .avatar .info .extra .type {
	font-size: 18px;
	text-align: center;
}

.weather-app .extra {
	margin-top: 20px;
}
.weather-app .extra .city {
	width: 200px;
	margin: 0 auto;
	font-size: 36px;
	text-transform: uppercase;
}
.weather-app .extra .extra-sub {
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px 0;	
	border-top: 1px solid #fff;
}
.weather-app .extra .extra-sub .sub {
	font-size: 18px;
	font-weight: lighter;
	text-transform: uppercase;
}
.weather-app .extra .extra-sub .sub span { float: right; }


.agenda-app { overflow: hidden; }
.agenda-app .title {
	float: left;
	width: 100px;
	height: 100px;
	
	line-height: 100px;
	font-size: 48px;
	text-align: center;	
}
.agenda-app .events { width: 425px; }
.agenda-app .events ul {
	list-style: none;
	margin: 0;
	margin-top: -5px;
	padding: 0;	
}
.agenda-app .events ul > li {
	position: relative;
	padding: 15px;
	padding-left: 70px;
	min-height: 50px;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.agenda-app .events ul > li .eventdate {
	position: absolute;
	left: 0;
	top: 15px;
	width: 60px;
	
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.agenda-app .events ul > li .eventtitle {
	text-transform: uppercase;
	font-size: 20px;
}

.agenda-app .events ul > li .location { font-size: 16px; }
.agenda-app .events ul > li .location i { color: #fff; }

.agenda-app .events ul > li .description {
	display: none;
	font-size: 16px;
}


/* ==========================================================================
   images
   ========================================================================== */

.image img {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-rounded { border-radius: 6px;}
.img-circle { border-radius: 50%;}
.img-thumbnail {
    padding: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
	display: inline-block;
	padding: 4px 12px;
	
	color: #fff;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	
	cursor: pointer;
	border: 1px solid #c72938;
	border-radius: 2px;
	background-color: #dd435c;
	
	transition: background 0.3s ease;
}
.btn:hover { color: #fff; background-color: #dd435c;}

.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

/* Size */
.btn-large {}
.btn-small {}
.btn-mini {}